<!DOCTYPE HTML SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<head th:fragment="header-css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
<div th:fragment="header">
    <header
            class="w-full h-[80px] bg-neutral-200 grid justify-items-stretch grid-cols-3"
    >
        <div sec:authorize="isAuthenticated()" class="my-auto px-2 text-2xl">
            Hello, <span sec:authentication="principal.username">Billi</span>
        </div>
        <div
                class="justify-self-center text-4xl my-auto text-red-500 font-mono font-bold"
        >
            SanGo
        </div>
        <div
                sec:authorize="isAuthenticated()"
                class="justify-self-end mx-2 my-auto text-2xl"
        >
            <a th:href="@{/logout}" class="mx-2">logout</a>
            <a th:href="@{/shop-cart}" class="basket mx-2 no-underline"> 🛒 </a>
        </div>
    </header>
</div>
</body>

</html>


