<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="UTF-8" />
    <title>Додання товар</title>
    <head th:replace="fragments/header :: header-css"> </head>
</head>
<body>
<!--Header-->
<div th:replace="fragments/header :: header"></div>
<!---->
<div class="w-full flex justify-left mx-2 mt-1">
    <div class="mx-2">
        <a th:href="@{/product/admin-list}" class="underline text-indigo-700 hover:text-indigo-800"
        >Повернутися назад</a
        >
    </div>
</div>
<div class="flex justify-center">
    <div class="product_form mt-20">
        <form th:object="${product}" method="post" class="flex flex-col">
            <input
                    type="text"
                    th:field="*{productCode}"
                    required
                    placeholder="Код товару"
                    autofocus
                    class="w-72 px-3 py-1 outline-0 border-b focus:border-blue-400 my-3"
            />
            <input
                    type="text"
                    th:field="*{title}"
                    required
                    placeholder="Найменування"
                    autofocus
                    class="w-72 px-3 py-1 outline-0 border-b focus:border-blue-400 my-3"
            />
            <input
                    type="text"
                    th:field="*{description}"
                    required
                    placeholder="Опис"
                    class="w-72 px-3 py-1 outline-0 border-b focus:border-blue-400 my-3"
            />
            <input
                    type="text"
                    th:field="*{composition}"
                    required
                    placeholder="Склад"
                    class="w-72 px-3 py-1 outline-0 border-b focus:border-blue-400 my-3"
            />
            <select
                    th:field="*{gender}"
                    required
                    class="w-72 px-3 py-1 outline-0 border-b focus:border-blue-400 my-3"
            >
                <option th:selected="${product.gender == 'MALE'}" th:value="MALE">
                    Чоловічий одяг
                </option>
                <option
                        th:selected="${product.gender == 'FEMALE'}"
                        th:value="FEMALE"
                >
                    Жіночий одяг
                </option>
            </select>
            <select
                    th:field="*{isUnderwear}"
                    required
                    class="w-72 px-3 py-1 outline-0 border-b focus:border-blue-400 my-3"
            >
                <option selected th:value="true">Нижній одяг</option>
                <option th:value="false">Верхній одяг</option>
            </select>
            <input
                    type="text"
                    th:field="*{price}"
                    required
                    placeholder="Ціна"
                    class="w-72 px-3 py-1 outline-0 border-b focus:border-blue-400 my-3"
            />
            <select
                    th:field="*{category.id}"
                    class="w-72 px-3 py-1 outline-0 border-b focus:border-blue-400 my-3"
            >
                <option
                        th:each="cat : ${categories}"
                        th:value="${cat.id}"
                        th:text="${cat.title}"
                ></option>
            </select>
            <select
                    th:field="*{brand.id}"
                    class="w-72 px-3 py-1 outline-0 border-b focus:border-blue-400 my-3"
            >
                <option
                        th:each="br : ${brands}"
                        th:value="${br.id}"
                        th:text="${br.title}"
                ></option>
            </select>

            <div th:if="${errorFlag}">
                <p th:text="${errorMessage}" class="text-red-600 text-md"></p>
            </div>

            <input
                    type="submit"
                    name="submit"
                    th:action="@{/product/add-product}"
                    th:value="Додати"
                    class="mt-4 flex justify-center p-3 text-white bg-neutral-800 font-bold hover:opacity-50 cursor-pointer"
            />
        </form>
    </div>
</div>
</body>
</html>
