<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.w3.org/1999/xhtml"
        xmlns:sec="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="UTF-8" />
    <title>Order History</title>
    <head th:replace="fragments/header :: header-css">
    </head>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<a th:href="@{/product/add-product}">Добавити продукт</a>


<div th:each="product : ${products}" class="my-10">
    <table align="center" width="1500px">
        <thead class="text-xl bg-neutral-100">
        <tr>
            <th>Product Code</th>
            <th>Title</th>
            <th>Description</th>
            <th>Composition</th>
            <th>Gender</th>
            <th>Price</th>
            <th>IsUnderwear</th>
            <th>Бренд</th>
            <th>Категорія</th>
            <th></th>
        </tr>
        </thead>
        <tbody class="border-b">
        <tr>
            <td align="center" th:text="${product.productCode}">Код</td>
            <td align="center" th:text="${product.title}">Найменування</td>
            <td align="center" th:text="${product.description}">Опис</td>
            <td align="center" th:text="${product.composition}">Склад</td>
            <td align="center" th:text="${product.gender}">Стать</td>
            <td align="center" th:text="${product.price + ' ' + '₴'}">Ціна</td>
            <td align="center" th:text="${product.isUnderwear}">Нижня Білизна</td>
            <td align="center" th:text="${product.brand.title}">Бренд</td>
            <td align="center" th:text="${product.category.title}">Категорія</td>
            <td><a th:href="@{/product/{id}/edit-product(id=${product.id})}">Змінити продукт</a></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td
                    colspan="8"
                    align="center"
                    id="show-details"
                    class="underline py-3 cursor-pointer hover:no-underline"
            >
                Show datails
            </td>
        </tr>
        </tfoot>
    </table>
    <div id="order-list" style="display: none">
        <table align="center" width="800px" class="border">
            <thead class="text-xl bg-neutral-200">
            <tr>
                <th>Pic</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="val : ${product.prodInstIdPic}" class="border-b">
                <td align="center" class="w-[150px] h-auto p-3">
                    <img
                            th:src="@{${val.mainPic}}"
                            src="https://picsum.photos/200/300"
                    />
                </td>
                <td><a th:href="@{/product/{id}/edit-product-instance(id=${val.id})}">Змінити продукт інстанс</a></td>
                <td><a th:href="@{/product/{id}/add-size(id=${val.id})}">Добавити розмір</a></td>
                <td><a th:href="@{/product/{id}/remove-size(id=${val.id})}">Видалити розмір</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <a th:href="@{/product/{id}/add-product-instance(id=${product.id})}">Додати продукт інстанс</a>
</div>


</body>
<script>

    const showDetails = document.querySelectorAll("#show-details");
    const orderList = document.querySelectorAll("#order-list");

    const textShowDetails = {
        show: "Show details",
        hide: "Hide",
    };
    const display = {
        flex: "inline",
        none: "none",
    };
    [...showDetails].forEach((item, index) => {
        item.addEventListener("click", () => {
            if (orderList[index].style.display === display.none) {
                orderList[index].style.display = display.flex;
                item.innerText = textShowDetails.hide;
            } else {
                orderList[index].style.display = display.none;
                item.innerText = textShowDetails.show;
            }
        });
    });
</script>
</html>
