<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="UTF-8" />
    <title>Товари</title>
    <head th:replace="fragments/header :: header-css"> </head>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="w-full flex justify-left mx-2 mt-2">
    <div class="mx-2">
        <a
                th:href="@{/product/add-product}"
                class="underline text-indigo-700 cursor-pointer hover:text-indigo-900"
        >Додати товар</a
        >
    </div>
</div>
<div class="flex justify-end mr-10 text-xl">
    <form th:action="@{/product/admin-list/search-by-code(code)}" method="get">
        <div class="flex items-center border-b border-black">
            <button class="flex-shrink-0 text-xl py-1 px-2" type="submit">
                🔎
            </button>
            <input
                    class="appearance-none bg-transparent border-none w-full mr-3 py-1 px-2 leading-tight focus:outline-none"
                    type="search"
                    placeholder="Пошук за кодом"
                    name="code"
                    style="font-size: 14px;"
                    required
            />
        </div>
    </form>
</div>

<div th:if="${noMatch}" class="text-center">
    <div class="text-3xl font-bold mb-4 mx-auto">
        Товар не знайдено!
    </div>
</div>

<div th:each="product : ${products}" class="my-10">
    <table align="center" width="1500px">
        <thead class="text-xl bg-neutral-100">
        <tr>
            <th>Код товару</th>
            <th>Найменування</th>
            <th>Стать</th>
            <th>Ціна</th>
            <th>Бренд</th>
            <th>Категорія</th>
            <th></th>
        </tr>
        </thead>
        <tbody class="border-b">
        <tr>
            <td align="center" th:text="${product.productCode}">Код товару</td>
            <td align="center" th:text="${product.title}">Найменування</td>
            <td align="center" th:text="${product.gender}">Стать</td>
            <td align="center" th:text="${product.price + ' ' + '₴'}">Ціна</td>
            <td align="center" th:text="${product.brand.title}">Бренд</td>
            <td align="center" th:text="${product.category.title}">
                Категорія
            </td>
            <td>
                <a
                        align="center"
                        style="font-size: 30px; cursor: pointer; margin: 0; padding: 10px;"
                        th:href="@{/product/{id}/edit-product(id=${product.id})}"
                >⭯</a
                >
                <a
                        align="center"
                        style="font-size: 30px; cursor: pointer; margin: 0; padding: 10px;"
                        th:href="@{/product/{id}/delete-product(id=${product.id})}"
                >❌</a
                >
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td
                    colspan="10"
                    align="center"
                    id="show-details"
                    class="underline py-3 cursor-pointer hover:no-underline"
            >
                Показати екземпляри
            </td>
        </tr>
        </tfoot>
    </table>
    <div id="order-list" style="display: none">
        <table align="center" width="800px" class="border">
            <thead class="text-xl bg-neutral-200">
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="val : ${product.prodInstIdPic}" class="border-b">
                <td align="center" class="w-[150px] h-auto p-3">
                    <img
                            th:src="@{${val.mainPic}}"
                            src="https://picsum.photos/200/300"
                    />
                </td>
                <td align="center">
                    <a
                            th:href="@{/product/{id}/edit-product-instance(id=${val.id})}"
                            class="underline text-indigo-700 cursor-pointer hover:text-indigo-900"
                    >Змінити екземпляр</a
                    >
                </td>
                <td align="center">
                    <a
                            th:href="@{/product/{id}/add-size(id=${val.id})}"
                            class="underline text-indigo-700 cursor-pointer hover:text-indigo-900"
                    >Додати розмір</a
                    >
                </td>
                <td align="center">
                    <a
                            th:href="@{/product/{id}/remove-size(id=${val.id})}"
                            class="underline text-indigo-700 cursor-pointer hover:text-indigo-900"
                    >Видалити розмір</a
                    >
                </td>
            </tr>
            </tbody>
        </table>
        <div class="w-full flex justify-center mx-2">
            <a
                    th:href="@{/product/{id}/add-product-instance(id=${product.id})}"
                    class="underline text-indigo-700 cursor-pointer hover:text-indigo-900"
            >Додати екземпляр</a
            >
        </div>
    </div>
</div>
<div th:if="${isSearch}" class="text-center">
    <a
            align="center"
            class="underline py-3 cursor-pointer hover:no-underline"
            th:href="@{/product/admin-list}"
    >
        Повернутися до повного списку товарів
    </a>
</div>
</body>
<script>
    const showDetails = document.querySelectorAll("#show-details");
    const orderList = document.querySelectorAll("#order-list");

    const textShowDetails = {
        show: "Показати екземпляри",
        hide: "Приховати",
    };
    const display = {
        flex: "inline",
        none: "none",
    };
    [...showDetails].forEach((item, index) => {
        item.addEventListener("click", () => {
            if (orderList[index].style.display === display.none) {
                orderList[index].style.display = display.flex;
                item.innerText = textShowDetails.hide;
            } else {
                orderList[index].style.display = display.none;
                item.innerText = textShowDetails.show;
            }
        });
    });
</script>
</html>
