<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="UTF-8" />
    <title>Оброблення замовлень</title>
    <head th:replace="fragments/header :: header-css"></head>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="w-full flex mb-10 text-xl">
    <a
            id="status-new"
            th:href="@{~/order/update-status?status=NEW}"
            class="m-1 px-3 cursor-pointer underline hover:no-underline"
    >
        Нові
    </a>
    <a
            id="status-processing"
            th:href="@{~/order/update-status?status=PROCESSING}"
            class="m-1 px-3 cursor-pointer underline hover:no-underline"
    >
        В обробці
    </a>
    <a
            id="status-delivering"
            th:href="@{~/order/update-status?status=DELIVERING}"
            class="m-1 px-3 cursor-pointer underline hover:no-underline"
    >
        Доставка
    </a>
    <a
            id="status-canceled"
            th:href="@{~/order/update-status?status=CANCELED}"
            class="m-1 px-3 cursor-pointer underline hover:no-underline"
    >
        Скасовані
    </a>
    <a
            id="status-completed"
            th:href="@{~/order/update-status?status=COMPLETED}"
            class="m-1 px-3 cursor-pointer underline hover:no-underline"
    >
        Завершені
    </a>
</div>

<div id="sort-by" class="absolute left-[30px] top-[130px]">
    <div class="cursor-pointer" id="sort-text">Сортувати за 👇</div>
    <ul
            id="sort-params"
            class="flex flex-col list-disc"
            style="display: none"
    >
        <li><a id="sort-price-up">  Ціна (від низької до високої)</a></li>
        <li><a id="sort-price-down"> Ціна (від високої до низької)</a></li>
        <li><a id="sort-date-down"> Дата оновлення (спочатку оновлені нещодавно)</a></li>
        <li><a id="sort-date-up"> Дата оновлення (оновлені давно)</a></li>
    </ul>
</div>

<p id="hide-current-page" th:text="${currentPage}" style="display: none">
    #
</p>
<div th:each="order : ${orders}" class="my-10">
    <table align="center" width="1500px">
        <thead class="text-xl bg-neutral-100">
        <tr>
            <th>Одержувач</th>
            <th>Номер телефона</th>
            <th>Адреса</th>
            <th>Пошта</th>
            <th>Сума</th>
            <th>Спосіб доставки</th>
            <th>Спосіб оплати</th>
            <th>Оновити статус</th>
            <th></th>
        </tr>
        </thead>

        <tbody class="border-b">
        <tr>
            <td align="center" th:text="${order.recipient}">одержувач</td>
            <td align="center" th:text="${order.phone}">номер телефона</td>
            <td align="center" th:text="${order.address}">адреса</td>
            <td align="center" th:text="${order.email}">пошта</td>
            <td align="center" th:text="${order.sum   + ' ' + '$'}">сума</td>
            <td align="center" th:if="${order.delivery.toString() == 'SELF_DELIVERY'}">Самовивіз</td>
            <td align="center" th:if="${order.delivery.toString() == 'DELIVERY_COMPANY'}">Компанія доставки</td>
            <td align="center" th:if="${order.delivery.toString() == 'COURIER'}">Кур'єр</td>
            <td align="center" th:if="${order.payment.toString() == 'CASH'}">Готівка</td>
            <td align="center" th:if="${order.payment.toString() == 'CREDIT_CARD'}">Карта</td>

            <td align="center">
                <form action="/order/update-status" method="post">
                    <input
                            type="text"
                            name="id"
                            th:value="${order.id}"
                            style="display: none"
                    />
                    <select name="status">
                        <div th:if="${order.status.toString() != 'NEW'}">
                            <option th:value="NEW">Нові</option>
                        </div>
                        <div th:if="${order.status.toString() != 'PROCESSING'}">
                            <option th:selected="${order.status.toString() == 'NEW'}"
                                    th:value="PROCESSING">
                                В обробці
                            </option>
                        </div>
                        <div th:if="${order.status.toString() != 'DELIVERING'}">
                            <option
                                    th:selected="${order.status.toString() == 'PROCESSING'}"
                                    th:value="DELIVERING"
                            >
                                Доставка
                            </option>
                        </div>
                        <div th:if="${order.status.toString() != 'CANCELED'}">
                            <option th:value="CANCELED">Скасовані</option>
                        </div>
                        <div th:if="${order.status.toString() != 'COMPLETED'}">
                            <option
                                    th:selected="${order.status.toString() == 'DELIVERING'}"
                                    th:value="COMPLETED"
                            >
                                Завершені
                            </option>
                        </div>
                    </select>
                    <input type="submit" value="Змінити" />
                </form>
            </td>

            <td>
                <form action="/order/delete-order" method="post">
                    <input
                            type="text"
                            name="id"
                            th:value="${order.id}"
                            style="display: none"
                    />
                    <input
                            type="text"
                            name="status"
                            th:value="${order.status.toString()}"
                            style="display: none"
                    />
                    <input
                            type="text"
                            name="nickname"
                            th:value="${order.user.nickName}"
                            style="display: none"
                    />
                    <button style="font-size: 30px; cursor: pointer; margin: 0; padding: 10px;">❌</button>
                </form>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td
                    colspan="9"
                    align="center"
                    id="show-details"
                    class="underline py-3 cursor-pointer hover:no-underline"
            >
                Показати деталі замовлення
            </td>
        </tr>
        </tfoot>
    </table>

    <div id="order-list" style="display: none">
        <table align="center" width="800px" class="border">
            <thead class="text-xl bg-neutral-200">
            <tr>
                <th>Зображення</th>
                <th>Найменування</th>
                <th>Розмір</th>
                <th>Кількість</th>
                <th>Сума</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="detail : ${order.details}" class="border-b">
                <td align="center" class="w-[150px] h-auto p-3">
                    <img
                            th:src="@{${detail.linkOfMainPicture}}"
                            src="https://picsum.photos/200/300"
                    />
                </td>
                <td align="center" th:text="${detail.productInstanceTitle}">
                    найменування
                </td>
                <td align="center" th:text="${detail.size}">розмір</td>
                <td align="center" th:text="${detail.amount}">кількість</td>
                <td align="center" th:text="${detail.price * detail.amount}">сума</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div
        class="pagination flex justify-center my-5 text-xl"
        th:if="${totalPages > 0}"
>
    <div class="w-fit flex">
        <div th:if="${currentPage > 0}">
            <a aria-label="Previous" id="prev" class="mx-1 hover:underline">
                <span aria-hidden="true">назад</span>
                <!--back page-->
            </a>
        </div>
        <div>
            <div th:text="${currentPage + 1 + ' - ' + totalPages}" class="mx-1 cursor-pointer hover:underline">1</div>
        </div>
        <div th:if="${currentPage < totalPages - 1}">
            <a aria-label="Next" id="next" class="mx-1 hover:underline">
                <span aria-hidden="true">далі</span>
                <!-- next page-->
            </a>
        </div>
    </div>
</div>
</body>
<script>
    const urlParams = new URLSearchParams(window.location.search);

    const status = urlParams.get("status");

    if (status !== null) {
        localStorage.setItem("selectedStatus", status);
    }

    const selectedStatus = localStorage.getItem("selectedStatus");

    var linkPriceUp = document.getElementById("sort-price-up");
    linkPriceUp.href =
        "/order/update-status?status=" + selectedStatus + "&sort=sum-asc";

    var linkPriceDown = document.getElementById("sort-price-down");
    linkPriceDown.href =
        "/order/update-status?status=" + selectedStatus + "&sort=sum-desc";

    var linkDateDown = document.getElementById("sort-date-down");
    linkDateDown.href =
        "/order/update-status?status=" + selectedStatus + "&sort=date-desc";

    var linkDateUp = document.getElementById("sort-date-up");
    linkDateUp.href =
        "/order/update-status?status=" + selectedStatus + "&sort=date-asc";

    const statusNew = document.getElementById("status-new");
    const statusProcessing = document.getElementById("status-processing");
    const statusDelivering = document.getElementById("status-delivering");
    const statusCanceled = document.getElementById("status-canceled");
    const statusCompleted = document.getElementById("status-completed");

    statusNew.addEventListener("click", function (event) {
        event.preventDefault();
        localStorage.setItem("selectedStatus", "NEW");
        window.location.href = statusNew.href;
    });

    statusProcessing.addEventListener("click", function (event) {
        event.preventDefault();
        localStorage.setItem("selectedStatus", "PROCESSING");
        window.location.href = statusProcessing.href;
    });

    statusDelivering.addEventListener("click", function (event) {
        event.preventDefault();
        localStorage.setItem("selectedStatus", "DELIVERING");
        window.location.href = statusDelivering.href;
    });

    statusCanceled.addEventListener("click", function (event) {
        event.preventDefault();
        localStorage.setItem("selectedStatus", "CANCELED");
        window.location.href = statusCanceled.href;
    });

    statusCompleted.addEventListener("click", function (event) {
        event.preventDefault();
        localStorage.setItem("selectedStatus", "COMPLETED");
        window.location.href = statusCompleted.href;
    });

    var linkPrev = document.getElementById("prev");
    var linkNext = document.getElementById("next");
    var currentPage = parseInt(
        document.getElementById("hide-current-page").textContent
    );

    if (urlParams.has("sort")) {
        const sort = urlParams.get("sort");
        if (linkPrev != null)
            linkPrev.href =
                "/order/update-status?status=" +
                selectedStatus +
                "&sort=" +
                sort +
                "&page=" +
                (currentPage - 1);
        if (linkNext != null)
            linkNext.href =
                "/order/update-status?status=" +
                selectedStatus +
                "&sort=" +
                sort +
                "&page=" +
                (currentPage + 1);
    } else {
        if (linkPrev != null)
            linkPrev.href =
                "/order/update-status?status=" +
                selectedStatus +
                "&page=" +
                (currentPage - 1);
        if (linkNext != null)
            linkNext.href =
                "/order/update-status?status=" +
                selectedStatus +
                "&page=" +
                (currentPage + 1);
    }
    const showDetails = document.querySelectorAll("#show-details");
    const orderList = document.querySelectorAll("#order-list");
    const sortBy = document.querySelector("#sort-by");
    const sortParams = document.querySelector("#sort-params");
    const sortText = document.querySelector("#sort-text");

    const textShowDetails = {
        show: "Показати деталі",
        hide: "Приховати",
    };
    const display = {
        flex: "inline",
        none: "none",
    };
    [...showDetails].forEach((item, index) => {
        item.addEventListener("click", () => {
            if (orderList[index].style.display === display.none) {
                orderList[index].style.display = display.flex;
                item.innerText = textShowDetails.hide;
            } else {
                orderList[index].style.display = display.none;
                item.innerText = textShowDetails.show;
            }
        });
    });

    sortBy.addEventListener("click", () => {
        if (sortParams.style.display === display.none) {
            sortParams.style.display = display.flex;
            sortText.innerText = "Сортувати за👆";
        } else {
            sortParams.style.display = display.none;
            sortText.innerText = "Сортувати за👇";
        }
    });
</script>
</html>
