<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Вхід</title>
    <head th:replace="fragments/header :: header-css"></head>
</head>
<div th:replace="fragments/header :: header"></div>
<body class="bg-neutral-100">
<div class="h-screen flex justify-center">
    <form action="/auth" method="post" class="w-86 m-auto flex flex-col border p-2 bg-white">
        <h2 class="mt-2 text-2xl font-bold text-center">Логін</h2>
        <input
                type="text"
                name="username"
                placeholder="Nickname"
                autofocus
                required
                class="w-72 px-3 py-1 outline-0 border-b focus:border-blue-400 my-3"
        />
        <div class="w-full flex">
            <input
                    type="password"
                    name="password"
                    placeholder="Password"
                    id="password"
                    required
                    class="w-full px-3 py-1 outline-0 border-b focus:border-blue-400 my-3"
            />
            <button type="button" id="wiev-password" class="text-xl">👁</button>
        </div>
        <div th:if="${loginError}">
            <p th:text="${errorMessage}" class="text-red-600 text-sm">
            </p>
        </div>
        <button
                type="submit"
                class="mt-4 flex justify-center p-3 text-white bg-neutral-800 font-bold hover:opacity-50 cursor-pointer"
        >
            Login
        </button>
        <div class="my-5 flex mx-auto">
            У вас немає акаунту?
            <a href="/users/new"
               class="underline text-indigo-700 cursor-pointer hover:text-indigo-900 mx-1"
            >Зареєструйтесь</a>
        </div>
    </form>
</div>
<script>
    const pswBtn = document.querySelector("#wiev-password");
    const psw = document.querySelector("#password");

    const types = {
        text: "text",
        password: "password",
    };

    pswBtn.addEventListener("click", () => {
        if (psw.type === types.password) {
            psw.type = types.text;
            pswBtn.innerHTML = "🫣";
        } else {
            psw.type = types.password;
            pswBtn.innerHTML = "👁";
        }
    });
</script>
</body>
</html>
