<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Order History</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/orderhistorystyle.css}"/>
</head>
<body>

<div th:each="order : ${orders}">
    <table align="center">
        <thead>
        <tr>
            <th>CREATED</th>
            <th>RECIPIENT</th>
            <th>PHONE</th>
            <th>ADDRESS</th>
            <th>Email</th>
            <th>SUM</th>
            <th>STATUS</th>
            <th>UPDATED</th>
        </tr>
        </thead>

        <tbody>

        <tr>
            <td th:text="${order.created}">created</td>
            <td th:text="${order.recipient}">recipient</td>
            <td th:text="${order.phone}">phone</td>
            <td th:text="${order.address}">address</td>
            <td th:text="${order.email}">email</td>
            <td th:text="${order.sum   + ' ' + '$'}">sum</td>
            <td th:text="${order.status}">status</td>
            <td th:text="${order.updated}">updated</td>
        </tr>

        </tbody>

    </table>

    <table align="center">
        <thead>
        <tr>
            <th>Pic</th>
            <th>Title</th>
            <th>Size</th>
            <th>Amount</th>
            <th>Price</th>
        </tr>
        </thead>

        <tbody>

        <tr th:each="detail : ${order.details}">
            <td><img th:src="@{${detail.linkOfMainPicture}}"></td>
            <td th:text="${detail.productInstanceTitle}">title</td>
            <td th:text="${detail.size}">size</td>
            <td th:text="${detail.amount}">amount</td>
            <td th:text="${detail.price}">price</td>
        </tr>

        </tbody>

    </table>
</div>

</body>
</html>