<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.w3.org/1999/xhtml"
  xmlns:sec="http://www.w3.org/1999/xhtml"
>
  <head>
    <meta charset="UTF-8" />
    <title>Products</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <header
      class="w-full h-[80px] bg-neutral-200 grid justify-items-stretch grid-cols-3"
    >
      <div sec:authorize="isAuthenticated()" class="my-auto px-2 text-2xl">
        Hello, <span sec:authentication="principal.username">Billi</span>
      </div>
      <div
        class="justify-self-center text-4xl my-auto text-red-500 font-mono font-bold"
      >
        SanGo
      </div>
      <div
        sec:authorize="isAuthenticated()"
        class="justify-self-end mx-2 my-auto text-2xl"
      >
        <a th:href="@{/logout}" class="mx-2">logout</a>
        <a th:href="@{/shop-cart}" class="basket mx-2 no-underline"> 🛒 </a>
      </div>
    </header>

    <div
      class="w-full bg-neutral-100 py-3 mb-10 sticky top-0 z-10 bg-opacity-90 flex"
    >
      <form
        class="flex mx-10"
        id="filter-form"
        method="get"
        action="http://localhost:8080/product/filter/list"
      >
        <div class="mx-5">
          <button value="MALE" class="mx-5 hover:underline text-xl">
            Male
          </button>
          <button value="FEMALE" class="hover:underline text-xl">Female</button>
          <!-- 
        <label for="genders">Genders:</label>
        <select id="genders" name="genders" multiple>
          <option value="MALE">Male</option>
          <option value="FEMALE">Female</option>
        </select> -->
        </div>

        <div class="mx-10 text-xl hover:underline">
          <label for="sort">Sort:</label>
          <select id="sort" name="sort">
            <option value="date_created_desc">
              Date created (newest first)
            </option>
            <option value="date_created_asc">Date created (oldes first)</option>
            <option value="price_asc">Price (low to high)</option>
            <option value="price_desc">Price (high to low)</option>
          </select>
        </div>

        <button type="submit" class="mx-5 hover:underline text-xl">
          Filter
        </button>
        <button type="reset" class="mx-5 hover:underline text-xl">Reset</button>
      </form>
      <div class="ml-auto mr-10 text-xl">
        <form>
          <div class="flex items-center border-b border-black">
            <button class="flex-shrink-0 text-xl py-1 px-2" type="submit">
              🔎
            </button>
            <input
              class="appearance-none bg-transparent border-none w-full mr-3 py-1 px-2 leading-tight focus:outline-none"
              type="search"
              placeholder="Search"
            />
          </div>
        </form>
      </div>
    </div>

    <!-- Left filter panel -->
    <div class="fixed top-[150px] w-[140px]">
      <form
        class="flex flex-col gap-[10px]"
        id="filter-form"
        method="get"
        action="http://localhost:8080/product/filter/list"
      >
        <div class="flex flex-col">
          <label for="brands">Brands:</label>
          <select
            value="urlParams.getAll('brands')"
            id="brands"
            name="brands"
            multiple
            size="7"
          >
            <option
              th:each="brand : ${brands}"
              th:value="${brand.title}"
              th:text="${brand.title}"
              th:title="${brand.title}"
            ></option>
          </select>
        </div>
        <div class="flex flex-col">
          <label for="categories">Brands:</label>
          <select id="categories" name="categories" multiple size="7">
            <option
              th:each="category : ${categories}"
              th:value="${category.title}"
              th:text="${category.title}"
              th:title="${category.title}"
            ></option>
          </select>
        </div>

        <div class="flex flex-col">
          <label for="sizes">Sizes:</label>
          <select id="sizes" name="sizes" multiple size="7">
            <script>
              const sizes = [
                "XS",
                "S",
                "M",
                "L",
                "XL",
                "XLL",
                "3XL",
                "29",
                "30",
                "31",
                "32",
                "33",
                "34",
              ];
              sizes.forEach((size) => {
                document.write(`<option value="${size}">${size}</option>`);
              });
            </script>
          </select>
        </div>

        <div class="flex flex-col">
          <label for="colors">Colors:</label>
          <select id="colors" name="colors" multiple size="7">
            <script>
              const colors = [
                "BLACK",
                "BLUE",
                "BROWN",
                "GOLDCOLORED",
                "GREY",
                "GREEN",
                "MULTI",
                "ORANGE",
                "PINK",
                "PURPLE",
                "RED",
                "SILVERCOLORED",
                "TURQUOISE",
                "WHITE",
                "YELLOW",
              ];
              colors.forEach((color) => {
                document.write(
                  `<option value="${color}" title="${color}">${color}</option>`
                );
              });
            </script>
          </select>
        </div>

        <button type="submit" class="mx-5 hover:underline">Filter</button>
      </form>
    </div>

    <!-- Card list -->
    <div class="products_box w-screen flex justify-center">
      <div class="product_list w-fit grid grid-cols-4 gap-[5px]">
        <!-- Card  -->
        <div
          th:each="productInstance : ${productInstances}"
          class="product_card cursor-pointer w-full bg-white shadow-md hover:shadow-none hover:opacity-90"
        >
          <div
            th:text="${productInstance.product.brand.title}"
            class="absolute p-1 bg-black text-xl text-white"
          >
            H&M
          </div>
          <a th:href="@{~/product/{id}/info(id=${productInstance.getId()})}">
            <img
              class="w-[400px] h-[600px]"
              src="https://picsum.photos/400/500"
              th:src="@{${productInstance.linkOfMainPicture}}"
              th:alt="${productInstance.product.title}"
            />
          </a>
          <div class="h-[100px] p-2">
            <div
              th:text="${productInstance.product.title}"
              class="text-xl break-normal"
            >
              Tie-belt wrap blouse Tie-belt
            </div>

            <div class="flex">
              <div class="mr-1">Sizes:</div>

              <div th:each="size : ${productInstance.sizes}" class="flex">
                <div th:text="${size.size}" class="mr-1">M</div>
              </div>
            </div>

            <div
              th:text="${productInstance.product.price}"
              class="flex text-sm font-bold mt-2"
            >
              Member price: 100
              <div>$</div>
            </div>
          </div>
        </div>
        <!-- End card -->
      </div>
    </div>
    <!-- End card list -->

    <!-- Pagination -->
    <div class="pagination" th:if="${totalPages > 0}">
      <ul>
        <li th:if="${currentPage > 0}">
          <a
            th:href="@{${'/product/list?page=' + (currentPage - 1)}}"
            aria-label="Previous"
          >
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li
          th:each="page : ${#numbers.sequence(0, totalPages - 1)}"
          th:class="${currentPage == page ? 'active' : ''}"
        >
          <a
            th:href="@{${'/product/list?page=' + page}}"
            th:text="${page + 1}"
          ></a>
        </li>
        <li th:if="${currentPage < totalPages - 1}">
          <a
            th:href="@{${'/product/list?page=' + (currentPage + 1)}}"
            aria-label="Next"
          >
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </div>
  </body>
  <script>
    const urlParams = new URLSearchParams(window.location.search);
    const selectedBrands = urlParams.getAll("brands");
    const selectedCategories = urlParams.getAll("categories");
    const selectedSizes = urlParams.getAll("sizes");
    const selectedColors = urlParams.getAll("colors");
    const selectedGenders = urlParams.getAll("genders");

    const brandsSelect = document.getElementById("brands");
    for (let i = 0; i < brandsSelect.options.length; i++) {
      if (selectedBrands.includes(brandsSelect.options[i].value)) {
        brandsSelect.options[i].selected = true;
      }
    }

    const categoriesSelect = document.getElementById("categories");
    for (let i = 0; i < categoriesSelect.options.length; i++) {
      if (selectedCategories.includes(categoriesSelect.options[i].value)) {
        categoriesSelect.options[i].selected = true;
      }
    }

    const sizesSelect = document.getElementById("sizes");
    for (let i = 0; i < sizesSelect.options.length; i++) {
      if (selectedSizes.includes(sizesSelect.options[i].value)) {
        sizesSelect.options[i].selected = true;
      }
    }

    const colorsSelect = document.getElementById("colors");
    for (let i = 0; i < colorsSelect.options.length; i++) {
      if (selectedColors.includes(colorsSelect.options[i].value)) {
        colorsSelect.options[i].selected = true;
      }
    }

    const gendersSelect = document.getElementById("genders");
    for (let i = 0; i < gendersSelect.options.length; i++) {
      if (selectedGenders.includes(gendersSelect.options[i].value)) {
        gendersSelect.options[i].selected = true;
      }
    }
  </script>
</html>
