<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.w3.org/1999/xhtml"
        xmlns:sec="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="UTF-8" />
    <title>Про товар</title>
    <head th:replace="fragments/header :: header-css"></head>
    <script src="https://cdn.tailwindcss.com"></script>

    <script>
        const ManSizeOver = {
            XS: {
                chest: [86, 91],
                waist: [71, 76],
                hips: [86, 91],
                height: [0, 167],
            },
            S: {
                chest: [91, 96],
                waist: [76, 81],
                hips: [91, 96],
                height: [167, 173],
            },
            M: {
                chest: [96, 101],
                waist: [81, 86],
                hips: [96, 101],
                height: [173, 178],
            },
            L: {
                chest: [101, 106],
                waist: [86, 91],
                hips: [101, 106],
                height: [178, 183],
            },
            XL: {
                chest: [106, 111],
                waist: [91, 97],
                hips: [106, 111],
                height: [183, 188],
            },
            XXL: {
                chest: [116, 121],
                waist: [102, 107],
                hips: [117, 122],
                height: [188, 193],
            },
            "3XL": {
                chest: [127, 150],
                waist: [112, 150],
                hips: [127, 150],
                height: [193, 220],
            },
        };

        const WomenSizeOver = {
            XS: {
                chest: [76, 81],
                waist: [56, 61],
                hips: [81, 86],
                height: [147, 157],
            },
            S: {
                chest: [81, 86],
                waist: [61, 66],
                hips: [86, 91],
                height: [157, 165],
            },
            M: {
                chest: [86, 91],
                waist: [66, 71],
                hips: [91, 96],
                height: [165, 170],
            },
            L: {
                chest: [91, 96],
                waist: [71, 76],
                hips: [96, 101],
                height: [170, 175],
            },
            XL: {
                chest: [96, 101],
                waist: [76, 81],
                hips: [101, 106],
                height: [175, 180],
            },
            XXL: {
                chest: [101, 106],
                waist: [81, 86],
                hips: [106, 111],
                height: [180, 185],
            },
            "3XL": {
                chest: [106, 150],
                waist: [86, 150],
                hips: [111, 150],
                height: [185, 220],
            },
        };

        function getSizeOver(chest, waist, hips, height, gender) {
            console.log(gender + "over");
            let arraySize;
            if (gender === "MALE") {
                arraySize = ManSizeOver;
            } else {
                arraySize = WomenSizeOver;
            }

            let closestSize;
            let closestDistance = Infinity;

            for (const [size, ranges] of Object.entries(arraySize)) {
                const chestRange = ranges.chest;
                const waistRange = ranges.waist;
                const hipsRange = ranges.hips;
                const heightRange = ranges.height;

                const chestDistance = Math.min(
                    Math.abs(chest - chestRange[0]),
                    Math.abs(chest - chestRange[1])
                );
                const waistDistance = Math.min(
                    Math.abs(waist - waistRange[0]),
                    Math.abs(waist - waistRange[1])
                );
                const hipsDistance = Math.min(
                    Math.abs(hips - hipsRange[0]),
                    Math.abs(hips - hipsRange[1])
                );
                const heightDistance = Math.min(
                    Math.abs(height - heightRange[0]),
                    Math.abs(height - heightRange[1])
                );

                const totalDistance =
                    chestDistance + waistDistance + hipsDistance + heightDistance;

                if (totalDistance < closestDistance) {
                    closestSize = size;
                    closestDistance = totalDistance;
                }
            }

            return closestSize;
        }

        function getSizeUnder(waist, hips, height, gender) {
            console.log(gender + "under");
            let arraySize;
            if (gender === "MALE") {
                arraySize = ManSizeOver;
            } else {
                arraySize = WomenSizeOver;
            }

            let closestSize;
            let closestDistance = Infinity;

            for (const [size, ranges] of Object.entries(arraySize)) {
                const waistRange = ranges.waist;
                const hipsRange = ranges.hips;
                const heightRange = ranges.height;

                const waistDistance = Math.min(
                    Math.abs(waist - waistRange[0]),
                    Math.abs(waist - waistRange[1])
                );
                const hipsDistance = Math.min(
                    Math.abs(hips - hipsRange[0]),
                    Math.abs(hips - hipsRange[1])
                );
                const heightDistance = Math.min(
                    Math.abs(height - heightRange[0]),
                    Math.abs(height - heightRange[1])
                );

                const totalDistance = waistDistance + hipsDistance + heightDistance;

                if (totalDistance < closestDistance) {
                    closestSize = size;
                    closestDistance = totalDistance;
                }
            }

            return closestSize;
        }

        function calculateSizeOver() {
            try {
                const chest = Number(document.getElementById("chest").value);
                const waist = Number(document.getElementById("waist").value);
                const hips = Number(document.getElementById("hips").value);
                const height = Number(document.getElementById("height").value);
                const gender = document.getElementById("gender").value;

                if (
                    checkData(chest, "Розмір грудей", 0, 150) &&
                    checkData(waist, "Обхват талії", 0, 150) &&
                    checkData(hips, "Розмір стегон", 0, 150) &&
                    checkData(height, "Зріст", 0, 220)
                ) {
                    const sizeOver = getSizeOver(chest, waist, hips, height, gender);
                    document.getElementById("result").innerHTML = `${sizeOver}`;
                }
            } catch (error) {
                alert(error.message);
            }
        }

        function calculateSizeUnder() {
            try {
                const waist = Number(document.getElementById("waist").value);
                const hips = Number(document.getElementById("hips").value);
                const height = Number(document.getElementById("height").value);
                const gender = document.getElementById("gender").value;

                if (
                    checkData(waist, "Обхват талії", 0, 150) &&
                    checkData(hips, "Розмір стегон", 0, 150) &&
                    checkData(height, "Зріст", 0, 220)
                ) {
                    const sizeOver = getSizeUnder(waist, hips, height, gender);
                    document.getElementById("result").innerHTML = `${sizeOver}`;
                }
            } catch (error) {
                alert(error.message);
            }
        }

        const checkData = (value, name, min, max) => {
            if (isNaN(value)) {
                throw new Error(`Значення "${name}" має бути числом`);
            } else if (!(value >= min && value <= max)) {
                throw new Error(
                    `Значення "${name}" має бути більше ${min} та менше ${max}`
                );
            }
            return true;
        };
    </script>
</head>

<body>
<!-- Header -->
<div th:replace="fragments/header :: header"></div>
<!-- End Header -->
<!-- Tovar card -->
<div class="m-10 flex justify-between">
    <!--Info block-->
    <div class="bg-neutral-50">
        <!--Images-->
        <div class="flex">
            <img
                    th:src="@{${productInstance.linkOfFrontPicture}}"
                    src="https://picsum.photos/600/800"
                    class="w-[600px] h-[800px] p-2"
            />
            <img
                    th:src="@{${productInstance.linkOfBackPicture}}"
                    src="https://picsum.photos/600/800"
                    class="w-[600px] h-[800px] p-2"
            />
        </div>
        <!--End images-->

        <!--Description-->
        <div class="w-[1000px] p-10">
            <p th:text="${productInstance.product.description}" class="break-all">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde minima
                maxime facilis est. Perferendis ipsa reiciendis tempora commodi
                accusamus, recusandae mollitia corrupti soluta sint eos, velit
                facilis nulla dignissimos cupiditate? Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Doloribus distinctio ex hic architecto
                alias tempore unde quis consequatur in quos! Alias, ex dignissimos
                velit numquam assumenda odit ducimus aspernatur? Assumenda?
            </p>
            <p class="mt-3" th:text="${productInstance.product.composition}">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
                consequuntur cum officia, earum laborum rem porro eaque eveniet
                inventore! Perferendis doloremque sed commodi, ad voluptatem sunt
                labore quasi unde itaque.
            </p>
        </div>
        <!--End description-->
    </div>
    <!--End info block-->

    <!--Tovar info-->
    <div class="right-10 h-fit bg-neutral-50 p-10 w-[600px]">
        <div class="flex justify-between">
            <div
                    th:text="${productInstance.product.title}"
                    class="text-xl font-bold"
            >
                Штани
            </div>
            <div class="text-2xl">
            <span th:each="i : ${#numbers.sequence(1, 5)}">
              <span th:if="${i &lt;= rate}" class="text-black-500"
              >&#9733;</span
              >
              <span th:unless="${i &lt;= rate}" class="text-gray-300"
              >&#9734;</span
              >
            </span>
            </div>
        </div>

        <!--Price-->
        <div class="flex mt-10">
            <div th:text="${productInstance.product.price} + ' ₴'" class="mr-1">
                40
            </div>
        </div>
        <!--End Price-->

        <!--Select color-->
        <div class="flex mt-10">
            <div th:each="entry : ${productInstance.links}" class="ml-1">
                <a th:href="@{~/product/{id}/info(id=${entry.id})}">
              <span
                      th:text="${entry.colorDefinition}"
                      class="rounded-sm p-3 border-black border-[1px]"
              >
              </span>
                </a>
            </div>
        </div>
        <!--End select color-->

        <!--Select size add to card-->
        <form
                class="w-full flex flex-col mt-10"
                method="post"
                th:action="@{/product/{id}/add-to-cart(id=${productInstance.id})}"
        >
            <select name="size" class="p-3" required>
                <option value="">Виберіть розмір</option>
                <option
                        class="p-3"
                        th:each="size : ${productInstance.sizes}"
                        th:value="${size.size}"
                >
                    <p th:text="${size.size}"></p>
                </option>
            </select>
            <button
                    type="submit"
                    class="mt-4 flex justify-center p-3 text-white bg-neutral-800 font-bold hover:opacity-50"
                    sec:authorize="isAuthenticated()"
            >
                <div class="mr-1">Додати</div>
                <div class="w-6 h-6">
                    <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                        <title />
                        <path
                                fill="white"
                                d="M23.52,29h-15a5.48,5.48,0,0,1-5.31-6.83L6.25,9.76a1,1,0,0,1,1-.76H24a1,1,0,0,1,1,.7l3.78,12.16a5.49,5.49,0,0,1-.83,4.91A5.41,5.41,0,0,1,23.52,29ZM8,11,5.11,22.65A3.5,3.5,0,0,0,8.48,27h15a3.44,3.44,0,0,0,2.79-1.42,3.5,3.5,0,0,0,.53-3.13L23.28,11Z"
                        />
                        <path
                                fill="white"
                                d="M20,17a1,1,0,0,1-1-1V8a3,3,0,0,0-6,0v8a1,1,0,0,1-2,0V8A5,5,0,0,1,21,8v8A1,1,0,0,1,20,17Z"
                        />
                    </svg>
                </div>
            </button>
        </form>
        <!--End select size add to card-->

        <!--Choose size-->
        <div class="mt-5 w-full bg-neutral-200 bg-opacity-90 p-5">
            <div class="text-xl text-center font-bold m-1s">
                Калькулятор Розміру
            </div>
            <form class="flex flex-col gap-[10px]">
                <input
                        type="hidden"
                        th:value="${productInstance.product.gender}"
                        id="gender"
                        name="gender"
                />
                <div class="flex flex-col mx-1 mt-1">
                    <label
                            for="chest"
                            th:if="${productInstance.product.isUnderwear == false }"
                            class="tracking-wide p-1 hover:underline"
                    >Розмір грудей (в см):</label
                    >
                    <input
                            type="number"
                            id="chest"
                            name="chest"
                            required
                            th:if="${productInstance.product.isUnderwear == false }"
                            class="p-1 text-center outline-0"
                            min="0"
                    />
                </div>
                <div class="flex flex-col mx-1 mt-1">
                    <label for="waist" class="tracking-wide p-1 hover:underline"
                    >Обхват талії (в см):</label
                    >
                    <input
                            type="number"
                            id="waist"
                            name="waist"
                            required
                            min="0"
                            class="p-1 text-center outline-0"
                    />
                </div>
                <div class="flex flex-col mx-1 mt-1">
                    <label for="hips" class="tracking-wide p-1 hover:underline"
                    >Розмір стегон (в см):</label
                    >
                    <input
                            type="number"
                            id="hips"
                            name="hips"
                            required
                            min="0"
                            class="p-1 text-center outline-0"
                    />
                </div>
                <div class="flex flex-col mx-1 mt-1">
                    <label for="height" class="tracking-wide p-1 hover:underline"
                    >Зріст (в см):</label
                    >
                    <input
                            type="number"
                            id="height"
                            name="height"
                            required
                            min="0"
                            class="p-1 text-center outline-0"
                    />
                </div>
                <input
                        th:if="${productInstance.product.isUnderwear == false }"
                        type="button"
                        onclick="calculateSizeOver()"
                        value="Розрахувати"
                        class="bg-neutral-800 text-white py-2 mx-1 font-bold hover:opacity-50"
                />
                <input
                        th:if="${productInstance.product.isUnderwear == true }"
                        type="button"
                        onclick="calculateSizeUnder()"
                        value="Розрахувати"
                        class="bg-neutral-800 text-white py-2 mx-1 font-bold hover:opacity-50"
                />
            </form>
            <div id="result" class="text-center underline text-4xl mt-3"></div>
        </div>
        <!--End Choose size-->
    </div>
    <!--End tovar info-->
</div>
<!-- End tovar card-->

<div th:if="${rate != 0}" class="w-[1200px] mx-10 mb-24">
    <h2 class="text-xl font-bold">Відгуки:</h2>
    <div>
        <div
                th:each="review : ${reviews}"
                class="my-4 p-3 flex flex-col-reverse bg-neutral-100 hover:bg-neutral-200"
        >
            <div class="flex justify-end text-sm" th:text="${review.updated}">04.13.1023</div>
            <span th:text="${review.comment}" class="ml-4 text-gray-800"
            >Гарно</span
            >
            <div class="flex justify-between">
                <p class="text-gray-600">
                    Автор:
                    <span th:text="${review.user.nickName}" class="font-semibold"
                    >Олександр</span
                    >
                </p>
                <div class="flex items-center text-xl">
              <span th:each="i : ${#numbers.sequence(1, 5)}">
                <span th:if="${i &lt;= review.rate}" class="text-yellow-500"
                >&#9733;</span
                >
                <span th:unless="${i &lt;= review.rate}" class="text-gray-300"
                >&#9734;</span
                >
              </span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

