<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.w3.org/1999/xhtml"
        xmlns:sec="http://www.w3.org/1999/xhtml"
>
<head>
    <title>Bucket</title>
    <head th:replace="fragments/header :: header-css"></head>
</head>
<body>
<!-- Header -->
<div th:replace="fragments/header :: header"></div>
<!-- End Header -->

<div class="w-[100wh] h-fit">
    <div class="flex flex-col">
        <div class="text-4xl font-bold text-neutral-800 text-center my-10">
            Кошик
        </div>
        <div
                th:if="${!cart.cartDetails.isEmpty()}"
                class="mt-7 mx-auto w-fit h-fit bg-neutral-100 p-5 flex justify-center"
        >
            <div class="w-[700px]">
                <!--Tovar card-->
                <div
                        id="cart"
                        th:each="detail : ${cart.cartDetails}"
                        class="flex w-full h-fit bg-white p-3"
                >
                    <div class="w-[100px] h-[200px] mr-5">
                        <img
                                src="https://picsum.photos/100/200"
                                th:src="@{${detail.linkOfPicture}}"
                                class="image"
                        />
                    </div>
                    <div class="w-full">
                        <div class="w-full flex justify-between">
                            <div>
                                <div th:text="${detail.title}" class="font-bold">
                                    Vendor Code
                                </div>
                                <div class="flex text-xl">
                                    <div th:text="${detail.price + ' ₴'}">123</div>
                                </div>
                            </div>
                            <form th:action="@{shop-cart/removeItem}" method="post">
                                <input
                                        type="hidden"
                                        name="id"
                                        th:value="${detail.productInstanceId}"
                                />
                                <input
                                        type="hidden"
                                        name="size"
                                        th:value="${detail.size}"
                                />
                                <button type="submit" class="text-2xl">❌</button>
                            </form>
                        </div>
                        <div class="text-sm flex mt-[25px]">
                            <div>
                                <div class="flex">
                                    Розмір:
                                    <div class="mx-2" th:text="${detail.size}">
                                        XS
                                    </div>
                                </div>
                                <div class="flex">
                                    Сума:
                                    <div class="mx-2" th:text="${detail.sum + ' ₴'}">19$</div>
                                </div>
                            </div>

                            <div class="flex bg-neutral-200 mx-10 text-xl rounded-lg">
                                <form th:action="@{shop-cart/incamount}" method="post">
                                    <input
                                            type="hidden"
                                            name="id"
                                            th:value="${detail.productInstanceId}"
                                    />
                                    <input
                                            type="hidden"
                                            name="size"
                                            th:value="${detail.size}"
                                    />
                                    <button type="submit" class="w-10 h-10 hover:opacity-30">
                                        <div class="m-auto" title="add one">+</div>
                                    </button>
                                </form>
                                <div class="m-auto">
                                    <div th:text="${detail.amount}">1</div>
                                </div>

                                <form th:action="@{shop-cart/decamount}" method="post">
                                    <input
                                            type="hidden"
                                            name="id"
                                            th:value="${detail.productInstanceId}"
                                    />
                                    <input
                                            type="hidden"
                                            name="size"
                                            th:value="${detail.size}"
                                    />
                                    <button
                                            type="submit"
                                            class="w-10 h-10 hover:opacity-30"
                                            title="minus one"
                                    >
                                        <div class="m-auto">-</div>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End tovar card-->
            </div>
        </div>
        <div class="fixed right-[150px] top-[200px] w-96 bg-neutral-100 p-10">
            <form th:action="@{/shop-cart}" method="post" class="flex flex-col">
                <!--<button class="btn btn-info" type="submit" name="submit">Create Order</button>
                <button class="btn btn-danger" type="submit" name="clear">Clear Cart</button>-->
                <div
                        sec:authorize="isAuthenticated()"
                        class="flex flex-col gap-3"
                >
                    <button
                            class="w-full bg-neutral-800 py-3 text-white text-xl font-bold hover:opacity-30"
                            type="submit"
                            name="store"
                    >
                        Зберегти кошик
                    </button>
                    <button
                            class="w-full bg-neutral-800 py-3 text-white text-xl font-bold hover:opacity-30"
                            type="submit"
                            name="load"
                    >
                        Завантажити кошик
                    </button>
                    <button
                            class="w-full bg-neutral-800 py-3 text-white text-xl font-bold hover:opacity-30"
                            type="submit"
                            name="confirm-order"
                    >
                        Оформити замовлення
                    </button>
                    <button
                            class="w-full bg-neutral-800 py-3 text-white text-xl font-bold hover:opacity-30"
                            type="submit"
                            name="clear"
                    >
                        Очистити кошик
                    </button>
                </div>

                <div sec:authorize="!isAuthenticated()" class="m-auto my-3">
                    <div>
                        To make a purchase, please
                        <a
                                href="/*"
                                class="underline text-blue-600 hover:text-indigo-800"
                        >Login</a
                        >
                    </div>

                    <!--Link to login-->
                </div>

                <div class="flex p-2 text-xl font-bold justify-between">
                    <div class="mx-2">Усього:</div>
                    <p th:text="${totalPrice + ' ₴'}">124</p>
                </div>
            </form>
        </div>

        <!--Empty bag-->
        <div
                th:if="${cart.cartDetails.isEmpty()}"
                class="text-2xl w-fit mt-10 mx-auto bg-neutral-100 p-5"
        >
            Кошик пустий
            <a class="text-indigo-700 underline hover:text-indigo-800" href="/"
            >зробити покупку</a
            >
            <!--Add path to home page-->
        </div>
        <!--End empty bag-->
    </div>
</div>
</body>
</html>

